/* Сброс дефолтных стилей */

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Контейнер */

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Список */

.slides {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Изображения */

.slide img {
  display: block;
  margin: auto;
  width: auto;
  max-height: 90vh; 
}
